.fit-cover {
  object-fit: cover;
}

services_icon {
  background-color: #0d6efd;
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #3498db;
}

